François Morain <Francois.Morain@lix.polytechnique.fr> Francois <morain@localhost.localdomain>
François Morain <Francois.Morain@lix.polytechnique.fr> Francois Morain <morain@adminfront.cm.cluster>
François Morain <Francois.Morain@lix.polytechnique.fr> Francois Morain <morain@phebe.grace.saclay.inria.fr>
François Morain <Francois.Morain@lix.polytechnique.fr> Francois Morain <morain@lix.polytechnique.fr>
François Morain <Francois.Morain@lix.polytechnique.fr> Francois Morain <morain@chipmunk.lix.polytechnique.fr>
François Morain <Francois.Morain@lix.polytechnique.fr> Francois Morain <morain@japet.grace.saclay.inria.fr>
François Morain <Francois.Morain@lix.polytechnique.fr> F. Morain <morain@lix.polytechnique.fr>
Alexander Kruppa <akruppa@gmail.com> Alexander Kruppa <akruppa@fcatrel.loria.fr>
Alexander Kruppa <akruppa@gmail.com> Alexander Kruppa <Alexander.Kruppa@loria.fr>
Alexander Kruppa <akruppa@gmail.com> Alex Kruppa <akruppa@gmail.com>
Cyril Bouvier <cyril.bouvier@loria.fr> Cyril Bouvier <cbouvier@catrel-15.loria.fr>
Cyril Bouvier <cyril.bouvier@loria.fr> bouvierc <cyril.bouvier@loria.fr>
Marion Videau <marion.videau@loria.fr> VIDEAU Marion <videauma@clafoutis.loria.fr>
Pierrick Gaudry <pierrick.gaudry@loria.fr> Pierrick Gaudry <gaudry@farfalle.(none)>
Paul Zimmermann <Paul.Zimmermann@inria.fr> zimmerma <zimmerma@coing.loria.fr>
Paul Zimmermann <Paul.Zimmermann@inria.fr> Paul Zimmermann <zimmerma@coing.(none)>
Paul Zimmermann <Paul.Zimmermann@inria.fr> Paul Zimmermann <Paul.Zimmermann@loria.fr>
Razvan Barbulescu <razvan.barbulescu@inria.fr> BARBULESCU Razvan <barbules@genoise.loria.fr>
Razvan Barbulescu <razvan.barbulescu@inria.fr> barbules <razvan.barbulescu@inria.fr>
Aurore Guillevic <guillevic@lix.polytechnique.fr> guillevi <guillevi@di.ens.fr>
Aurore Guillevic <guillevic@lix.polytechnique.fr> guillevi <guillevic@lix.polytechnique.fr>
Emmanuel Thomé <Emmanuel.Thome@gmail.com> Emmanuel Thomé <Emmanuel.Thome@inria.fr>
Lionel Muller <lionel.muller@loria.fr> Lionel Muller <Lionel.Muller@loria.fr>
Shi Bai <shih.bai@gmail.com> Shi Bai <bai@users.gforge.inria.fr>
Pierrick Gaudry <pierrick.gaudry@loria.fr> Pierrick Gaudry <Pierrick.Gaudry@gmail.com>
