# This file gives the exact contents of the distribution. If a directory is
# mentioned (with a trailing slash), then all its children are included. Note
# that the union of this file and its companion files.nodist must agree with
# the list of files known to the SCM.  A further word of caution: wildcards
# are *NOT* recognized (by the fascist sanity check program).
CMakeLists.txt
COPYING
Makefile
README
AUTHORS
NEWS
cado.h
cadofactor.pl
cadofct.pm
scripts/install-cmake.sh
linalg/CMakeLists.txt
linalg/Makefile
linalg/bwc/CMakeLists.txt
linalg/bwc/CMakeLists.txt
linalg/bwc/README
linalg/bwc/GUIDED_TOUR_OF_SOURCES
linalg/bwc/Makefile
linalg/bwc/abase.h
linalg/bwc/acollect.c
utils/alloc_proxy.h
linalg/bwc/async.c
linalg/bwc/async.h
utils/barrier.c
utils/barrier.h
linalg/bwc/balancing.c
linalg/bwc/balancing.h
linalg/bwc/bench.c
linalg/bwc/build.c
linalg/bwc/bw-common-mpi.c
linalg/bwc/bw-common-mpi.h
linalg/bwc/bw-common.c
linalg/bwc/bw-common.h
linalg/bwc/bwc_config.h
linalg/bwc/bwc.pl
linalg/bwc/checks.list
linalg/bwc/checks.list.light
linalg/bwc/checks.sh
linalg/bwc/debug.c
linalg/bwc/debug.h
linalg/bwc/do-one-test.sh
linalg/bwc/test.c
utils/fakempi.h
utils/fakepthread.h
linalg/bwc/filenames.h
linalg/bwc/gather.c
linalg/bwc/intersections.c
linalg/bwc/intersections.h
linalg/bwc/krylov.c
linalg/bwc/lingen_binary.cpp
linalg/bwc/lingen_mat_types.hpp
linalg/bwc/matmul-mf.c
linalg/bwc/matmul-mf.h
linalg/bwc/matmul-basic.c
linalg/bwc/matmul-basic.h
linalg/bwc/matmul-bucket.cpp
linalg/bwc/matmul-bucket.h
linalg/bwc/matmul-common.c
linalg/bwc/matmul-common.h
linalg/bwc/matmul-sub-small1.S
linalg/bwc/matmul-sub-small1.h
linalg/bwc/matmul-sub-small2.S
linalg/bwc/matmul-sub-small2.h
linalg/bwc/matmul-sub-large-fbi.S
linalg/bwc/matmul-sub-large-fbi.h
linalg/bwc/matmul-sliced.cpp
linalg/bwc/matmul-sliced.h
linalg/bwc/matmul-threaded.c
linalg/bwc/matmul-threaded.h
linalg/bwc/matmul.c
linalg/bwc/matmul.h
linalg/bwc/matmul_top.c
linalg/bwc/matmul_top.h
linalg/bwc/mf.c
linalg/bwc/mf.h
linalg/bwc/mksol.c
linalg/bwc/mpich2.spec
linalg/bwc/pad.h
linalg/bwc/parallelizing_info.c
linalg/bwc/parallelizing_info.h
linalg/bwc/prep.c
linalg/bwc/random.c
linalg/bwc/rusage.c
linalg/bwc/rusage.h
linalg/bwc/secure.c
utils/select_mpi.h
linalg/bwc/split.c
linalg/bwc/worker-threads.c
linalg/bwc/worker-threads.h
linalg/bwc/xdotprod.c
linalg/bwc/xdotprod.h
linalg/bwc/xvectors.c
linalg/bwc/xvectors.h
linalg/bwc/xymats.c
linalg/bwc/xymats.h
linalg/characters.c
linalg/gauss.c
linalg/gauss.h
linalg/readbuffer.c
linalg/readbuffer.h
linalg/rowset_heap.cpp
linalg/rowset_heap.h
local.sh.macosx-leopard
local.sh.example
macros.h
filter/CMakeLists.txt
filter/explain.c
filter/Makefile
filter/dclist.c
filter/dclist.h
filter/dup1.c
filter/dup2.c
filter/markowitz.c
filter/markowitz.h
filter/merge.c
filter/merge.h
filter/merge_mono.c
filter/merge_mono.h
filter/merge_opts.h
filter/mst.c
filter/mst.h
filter/purge.c
filter/replay.c
filter/report.c
filter/report.h
filter/sparse.c
filter/sparse.h
filter/filter_matrix.c
filter/filter_matrix.h
filter/swar.c
filter/swar.h
params/mach_desc
params/params.c59
params/params.c61
params/params.c63
params/params.c65
params/params.c67
params/params.c69
params/params.c71
params/params.c73
params/params.c75
params/params.c77
params/params.c79
params/params.c81
params/params.c83
params/params.c85
params/params.c88
params/params.c91
params/params.c94
params/params.c96
params/params.c97
params/params.c100
params/params.c102
params/params.c105
params/params.c107
params/params.c108
params/params.c110
params/params.c111
params/params.c112
params/params.c113
params/params.c114
params/params.c115
params/params.c116
params/params.c117
params/params.c120
params/params.c121
params/params.c122
params/params.c123
params/params.c124
params/params.c125
params/params.c126
params/params.c128
params/params.c129
params/params.c130
params/params.c131
params/params.c132
params/params.c133
params/params.c134
params/params.c135
params/params.c137
params/params.c138
params/params.c140
params/params.c142
params/params.c143
params/params.c144
params/params.c145
params/params.c146
params/params.c147
params/params.c148
params/params.c149
params/params.c150
params/params.c151
params/params.c152
params/params.c153
params/params.c155
params/params.c157
params/params.c158
params/params.c159
params/params.c160
params/params.c161
params/params.c162
params/params.c166
params/params.c180
params/params.c190
polyselect/CMakeLists.txt
polyselect/Makefile
polyselect/auxiliary.c
polyselect/auxiliary.h
polyselect/polyselect.c
polyselect/polyselect2.c
polyselect/rotate.c
polyselect/rootsieve.c
polyselect/rootsieve.h
polyselect/rootsieve5.c
polyselect/rootsieve5.h
polyselect/rho.c
polyselect/rho.h
polyselect/murphyE.c
polyselect/murphyE.h
factor.sh
scripts/call_cmake.sh
scripts/version.sh
scripts/cpu_time.sh
sieve/CMakeLists.txt
sieve/Makefile
sieve/basicnt.h
sieve/bucket.h
sieve/ecm/CMakeLists.txt
sieve/ecm/Makefile
sieve/ecm/ecm.c
sieve/ecm/ecm.h
sieve/ecm/ecm_15ul.c
sieve/ecm/ecm_2ul2.c
sieve/ecm/ecm_ul.c
sieve/ecm/facul.c
sieve/ecm/facul.h
sieve/ecm/facul_doit.c
sieve/ecm/facul_doit.h
sieve/ecm/facul_doit_15ul.c
sieve/ecm/facul_doit_2ul2.c
sieve/ecm/facul_doit_ul.c
sieve/ecm/makeplan.c
sieve/ecm/pm1.c
sieve/ecm/pm1.h
sieve/ecm/pm1_15ul.c
sieve/ecm/pm1_2ul2.c
sieve/ecm/pm1_ul.c
sieve/ecm/pp1.c
sieve/ecm/pp1.h
sieve/ecm/pp1_15ul.c
sieve/ecm/pp1_2ul2.c
sieve/ecm/pp1_ul.c
sieve/ecm/prac_bc.c
sieve/ecm/prac_bc.h
sieve/ecm/stage2.c
sieve/ecm/stage2.h
sieve/fb.c
sieve/fb.h
sieve/freerel.c
sieve/las.c
sieve/makefb.c
sieve/trialdiv.c
sieve/trialdiv.h
sieve/test_trialdiv.c
sqrt/CMakeLists.txt
sqrt/Makefile
sqrt/sqrt.c
sqrt/crtalgsqrt.c
sqrt/powers_of_p.cpp
sqrt/powers_of_p.h
sqrt/polyroots.c
sqrt/polyroots.h
sqrt/checkdep.c
utils/poly.c
utils/poly.h
utils/CMakeLists.txt
utils/Makefile
utils/cado_poly.c
utils/cado_poly.h
utils/check_rels.c
utils/discriminant.c
utils/discriminant.h
utils/electric_alloc.h
utils/fpoly.c
utils/fpoly.h
utils/gcd_int64.c
utils/gcd_int64.h
utils/gcd_uint64.c
utils/gcd_uint64.h
utils/getprime.c
utils/getprime.h
utils/gmp_aux.c
utils/gmp_aux.h
utils/gzip.c
utils/gzip.c
utils/gzip.h
utils/gzip.h
utils/hashpair.c
utils/hashpair.h
utils/misc.c
utils/misc.h
utils/mod_ul.c
utils/mod_ul.h
utils/mod_ul_common.c
utils/mod_ul_default.h
utils/mod_rename.h
utils/modredc_15ul.c
utils/modredc_15ul.h
utils/modredc_15ul_default.h
utils/modredc_2ul2.c
utils/modredc_2ul2.h
utils/modredc_2ul2_default.h
utils/modredc_2ul_common.c
utils/modredc_ul.c
utils/modredc_ul.h
utils/modredc_ul_default.h
utils/modul_poly.c
utils/modul_poly.h
utils/mpz_array.c
utils/mpz_array.h
utils/mpz_poly.c
utils/mpz_poly.h
utils/params.c
utils/params.h
utils/plain_poly.c
utils/plain_poly.h
utils/random_generation.c
utils/random_generation.h
utils/relation.c
utils/relation.h
utils/rootfinder.c
utils/rootfinder.h
utils/test-rootfinder-script.sh
utils/test-rootfinder.c
utils/test_mod.c
utils/test_mod_ul.c
utils/test_modredc_15ul.c
utils/test_modredc_2ul2.c
utils/test_modredc_ul.c
utils/testbase-rootfinder.quick
utils/timing.c
utils/timing.h
utils/ularith.h
utils/utils.h
utils/crc.h
utils/crc.c
utils/complete_rels.c
utils/gmp_factorization_complete.c
utils/gmp_gcd.c
utils/gmp_prob_prime.c
utils/usp.c
utils/usp.h
utils/cut_n_roots.c
utils/roots.c
utils/gmp_nextprime.c
cado_config_h.in
cado_mpi_config_h.in
config/asm_sample.c
config/sse2.c
config/sse2.cmake
config/alloca.cmake
config/gcc-assembly.cmake
config/search_for_function.cmake
config/pthreads.cmake
config/mpi.cmake
scripts/fixup_params_file.sh.in
linalg/bwc/matmul-sub-large-fbd.S
linalg/bwc/matmul-sub-large-fbd.h
linalg/bwc/matmul-sub-vsc-combine.S
linalg/bwc/matmul-sub-vsc-combine.h
linalg/bwc/matmul-sub-vsc-dispatch.S
linalg/bwc/matmul-sub-vsc-dispatch.h
config/gmp.cmake
config/ccwrap.pl.in
config/cxxwrap.pl.in
polyselect/rotate_all.c
sqrt/gmp-hacks.h
sqrt/knapsack.c
sqrt/knapsack.h
linalg/bwc/mf.c
linalg/bwc/mf.h
linalg/bwc/mf_bal.c
linalg/bwc/mf_scan.c
linalg/bwc/mf_dobal.c
config/curl.cmake
linalg/bwc/balancing_curl_source.c
linalg/bwc/balancing_curl_source.h
linalg/bwc/balancing_data_source.h
linalg/bwc/balancing_file_source.c
linalg/bwc/balancing_file_source.h
linalg/bwc/balancing_mpi_source.c
linalg/bwc/balancing_mpi_source.h
linalg/bwc/balancing_rollbuf.c
linalg/bwc/balancing_rollbuf.h
linalg/bwc/balancing_workhorse.c
linalg/bwc/balancing_workhorse.h
linalg/bwc/dispatch.c
linalg/bwc/matops.c
linalg/bwc/rolling.c
linalg/bwc/rolling.h
linalg/bwc/cleanup.c
linalg/bwc/short_matmul.c
linalg/bwc/strassen-thresholds.h
polyselect/twoquadratics.c
polyselect/polyopt.c
linalg/bit_matrices.c
linalg/bit_matrices.h
utils/bit_vector.c
utils/bit_vector.h
utils/purgedfile.c
utils/purgedfile.h
linalg/blockmatrix.c
linalg/blockmatrix.h
config/sse41.c
config/sse41.cmake
gf2x/AUTHORS
gf2x/BUGS
gf2x/COPYING
gf2x/ChangeLog
gf2x/INSTALL
gf2x/Makefile.am
gf2x/Makefile.in
gf2x/NEWS
gf2x/README
gf2x/TODO
gf2x/aclocal.m4
gf2x/macros.h
gf2x/already_tuned/generic/gf2x-thresholds.h
gf2x/already_tuned/generic/gf2x_mul2.h
gf2x/already_tuned/generic/gf2x_mul3.h
gf2x/already_tuned/generic/gf2x_mul4.h
gf2x/already_tuned/generic/gf2x_mul5.h
gf2x/already_tuned/generic/gf2x_mul6.h
gf2x/already_tuned/generic/gf2x_mul7.h
gf2x/already_tuned/generic/gf2x_mul8.h
gf2x/already_tuned/generic/gf2x_mul9.h
gf2x/already_tuned/generic32/gf2x_mul1.h
gf2x/already_tuned/generic64/gf2x_mul1.h
gf2x/already_tuned/opteron/gf2x-thresholds.h
gf2x/already_tuned/opteron/gf2x_mul1.h
gf2x/already_tuned/tuned/README
gf2x/already_tuned/x86_64/gf2x-thresholds.h
gf2x/already_tuned/x86_64/gf2x_mul1.h
gf2x/already_tuned/x86_64/gf2x_mul2.h
gf2x/already_tuned/x86_64/gf2x_mul3.h
gf2x/already_tuned/x86_64/gf2x_mul4.h
gf2x/already_tuned/x86_64/gf2x_mul5.h
gf2x/already_tuned/x86_64/gf2x_mul6.h
gf2x/already_tuned/x86_64/gf2x_mul7.h
gf2x/already_tuned/x86_64/gf2x_mul8.h
gf2x/already_tuned/x86_64/gf2x_mul9.h
gf2x/already_tuned/x86_64_pclmul/gf2x-thresholds.h
gf2x/already_tuned/x86_64_pclmul/gf2x_mul1.h
gf2x/already_tuned/x86_64_pclmul/gf2x_mul2.h
gf2x/already_tuned/x86_64_pclmul/gf2x_mul3.h
gf2x/already_tuned/x86_64_pclmul/gf2x_mul4.h
gf2x/already_tuned/x86_64_pclmul/gf2x_mul5.h
gf2x/already_tuned/x86_64_pclmul/gf2x_mul6.h
gf2x/already_tuned/x86_64_pclmul/gf2x_mul7.h
gf2x/already_tuned/x86_64_pclmul/gf2x_mul8.h
gf2x/already_tuned/x86_64_pclmul/gf2x_mul9.h
gf2x/already_tuned/x86_sse2/gf2x-thresholds.h
gf2x/already_tuned/x86_sse2/gf2x_mul1.h
gf2x/already_tuned/x86_sse2/gf2x_mul2.h
gf2x/already_tuned/x86_sse2/gf2x_mul3.h
gf2x/already_tuned/x86_sse2/gf2x_mul4.h
gf2x/already_tuned/x86_sse2/gf2x_mul5.h
gf2x/already_tuned/x86_sse2/gf2x_mul6.h
gf2x/already_tuned/x86_sse2/gf2x_mul7.h
gf2x/already_tuned/x86_sse2/gf2x_mul8.h
gf2x/already_tuned/x86_sse2/gf2x_mul9.h
gf2x/config/acinclude.m4
gf2x/config/compile
gf2x/config/config.guess
gf2x/config/config.sub
gf2x/config/depcomp
gf2x/config/install-sh
gf2x/config/libtool.m4
gf2x/config/ltmain.sh
gf2x/config/ltoptions.m4
gf2x/config/ltsugar.m4
gf2x/config/ltversion.m4
gf2x/config/lt~obsolete.m4
gf2x/config/missing
gf2x/configure
gf2x/configure.ac
gf2x/fft.c
gf2x/gf2x-fft/Makefile.am
gf2x/gf2x-fft/Makefile.in
gf2x/gf2x-fft/README
gf2x/gf2x-fft/README.cantor
gf2x/gf2x-fft/cantor128.c
gf2x/gf2x-fft/cantor128.h
gf2x/gf2x-fft/cantor_bench.c
gf2x/gf2x-fft/cantor_main.c
gf2x/gf2x-fft/check_cantor.m
gf2x/gf2x-fft/check_cantor.sh
gf2x/gf2x-fft/fake_fft.c
gf2x/gf2x-fft/fake_fft.h
gf2x/gf2x-fft/fft_adapter.hpp
gf2x/gf2x-fft/gf2x-fft.h
gf2x/gf2x-fft/gf2x_fft_check.c
gf2x/gf2x.c
gf2x/gf2x.h
gf2x/gf2x/gf2x-config.h.in
gf2x/gf2x/gf2x-impl.h
gf2x/gf2x/gf2x-small.h
gf2x/gf2x/gf2x-tfft.h
gf2x/inject-ntl-5.4.2
gf2x/patch-wrt-ntl-5.4.2
gf2x/src/Makefile.am
gf2x/src/Makefile.in
gf2x/src/README
gf2x/src/README.adding_code
gf2x/src/TODO
gf2x/src/gen_bb_mul_code.c
gf2x/src/generate-test-list.pl
gf2x/src/mul1cl.c
gf2x/src/mul2cl.c
gf2x/src/mul2cl2.c
gf2x/src/mul2k.c
gf2x/src/mul2t.c
gf2x/src/mul2t2.c
gf2x/src/mul3cl.c
gf2x/src/mul3k.c
gf2x/src/mul3k2.c
gf2x/src/mul3k3.c
gf2x/src/mul3t.c
gf2x/src/mul4clk.c
gf2x/src/mul4k.c
gf2x/src/mul4t.c
gf2x/src/mul5clk_c.c
gf2x/src/mul5k3.c
gf2x/src/mul5k_a.c
gf2x/src/mul5k_b.c
gf2x/src/mul5k_c.c
gf2x/src/mul5k_d.c
gf2x/src/mul6clk2.c
gf2x/src/mul6k_a.c
gf2x/src/mul6k_b.c
gf2x/src/mul6k_c.c
gf2x/src/mul7cl.c
gf2x/src/mul7k.c
gf2x/src/mul7k3.c
gf2x/src/mul8k.c
gf2x/src/mul9cl.c
gf2x/src/mul9clk2.c
gf2x/src/mul9k.c
gf2x/src/mul9k2.c
gf2x/src/mul9k3.c
gf2x/src/replace.c
gf2x/src/replace.h
gf2x/src/timing.c
gf2x/src/timing.h
gf2x/src/tune-lowlevel.pl
gf2x/src/tunefft.c
gf2x/src/tunetoom.c
gf2x/src/tuneup_pre.c
gf2x/src/tuning-common.c
gf2x/src/tuning-common.h
gf2x/src/tuning_undef_wrapper.h
gf2x/src/tuning_undefs_pre.h
gf2x/src/update-thresholds.c
gf2x/tests/Makefile.am
gf2x/tests/Makefile.in
gf2x/tests/check-addmul.c
gf2x/tests/check-mul.c
gf2x/tests/check-mul.res
gf2x/tests/do-check-mul.sh
gf2x/toom.c
gf2x/version.sh.in
utils/fix-endianness.c
utils/fix-endianness.h
utils/cado-endian.h
config/cabsl.cmake
config/log2.cmake
linalg/bwc/bcast-file.c
linalg/bwc/raw_matrix_u32.h
linalg/bwc/mpfq/Makefile.mpfq
linalg/bwc/mpfq/abase_u64k1.c
linalg/bwc/mpfq/abase_u64k1.h
linalg/bwc/mpfq/abase_u64k1_t.c
linalg/bwc/mpfq/abase_u64k1_t.h
linalg/bwc/mpfq/abase_u64k2.c
linalg/bwc/mpfq/abase_u64k2.h
linalg/bwc/mpfq/abase_u64k2_t.c
linalg/bwc/mpfq/abase_u64k2_t.h
linalg/bwc/mpfq/abase_vbase.c
linalg/bwc/mpfq/abase_vbase.h
linalg/bwc/mpfq/binary-dotprods-backends.h
linalg/bwc/mpfq/mpfq.h
linalg/bwc/mpfq/mpfq_name_ab.h
linalg/bwc/matmul_facade.c
