# This file gives the exact contents of the distribution. If a directory is
# mentioned (with a trailing slash), then all its children are included.  Note
# that the joint of this file and its companion files.nodist must agree with
# the list of files known to the SCM.  A further word of caution: wildcards
# are *NOT* recognized (by the fascist sanity check program).
CMakeLists.txt
COPYING
Makefile
README
TODO
cado.h
cadofactor.pl
gf2x-fft/cantor/CMakeLists.txt
gf2x-fft/cantor/CMakeLists.txt
gf2x-fft/cantor/Makefile
gf2x-fft/cantor/README
gf2x-fft/cantor/cantor128.c
gf2x-fft/cantor/cantor128.h
gf2x-fft/cantor/cantor_bench.c
gf2x-fft/cantor/cantor_main.c
gf2x-fft/cantor/check_cantor.sh
gf2x-fft/cantor/mpfq.h
gf2x-fft/cantor/mpfq_2_128.c
gf2x-fft/cantor/mpfq_2_128.c.32
gf2x-fft/cantor/mpfq_2_128.c.64
gf2x-fft/cantor/mpfq_2_128.h
gf2x-fft/cantor/mpfq_2_128.h.32
gf2x-fft/cantor/mpfq_2_128.h.64
gf2x-fft/cantor/mpfq_gf2n_common.h
gf2x-fft/fft_adapter.hpp
gf2x-fft/fake_fft.c
gf2x-fft/fake_fft.h
gf2x-fft/CMakeLists.txt
gf2x/
scripts/install-cmake.sh
linalg/CMakeLists.txt
linalg/Makefile
linalg/apply_perm.c
linalg/balance.c
linalg/bwc/CMakeLists.txt
linalg/bwc/CMakeLists.txt
linalg/bwc/README
linalg/bwc/GUIDED_TOUR_OF_SOURCES
linalg/bwc/Makefile
linalg/bwc/abase-api.h
linalg/bwc/abase-binary-dotprod-backends.h
linalg/bwc/abase-binary-generic.h
linalg/bwc/abase-common.h
linalg/bwc/abase-generic.h
linalg/bwc/abase-u128.c
linalg/bwc/abase-u128.h
linalg/bwc/abase-u64.c
linalg/bwc/abase-u64.h
linalg/bwc/abase-u64k.c
linalg/bwc/abase-u64k.h
linalg/bwc/abase-u64n.c
linalg/bwc/abase-u64n.h
linalg/bwc/abase.h
linalg/bwc/acollect.c
utils/alloc_proxy.h
linalg/bwc/async.c
linalg/bwc/async.h
linalg/bwc/barrier.c
linalg/bwc/barrier.h
linalg/bwc/bench.c
linalg/bwc/build.c
linalg/bwc/bw-common-mpi.c
linalg/bwc/bw-common-mpi.h
linalg/bwc/bw-common.c
linalg/bwc/bw-common.h
linalg/bwc/bwc_config.h.in
linalg/bwc/bwc.pl
linalg/bwc/checks.list
linalg/bwc/checks.list.light
linalg/bwc/checks.sh
linalg/bwc/debug.c
linalg/bwc/debug.h
linalg/bwc/defaults.h
linalg/bwc/do-one-test.sh
linalg/bwc/fakempi.h
linalg/bwc/fakepthread.h
linalg/bwc/filenames.h
linalg/bwc/gather.c
linalg/bwc/info_file.c
linalg/bwc/info_file.h
linalg/bwc/intersections.cpp
linalg/bwc/intersections.h
linalg/bwc/krylov.c
linalg/bwc/lingen_binary.cpp
linalg/bwc/lingen_mat_types.hpp
linalg/bwc/matmul-basic.c
linalg/bwc/matmul-basic.h
linalg/bwc/matmul-bucket.cpp
linalg/bwc/matmul-bucket.h
linalg/bwc/matmul-common.c
linalg/bwc/matmul-common.h
linalg/bwc/matmul-sub-small1.S
linalg/bwc/matmul-sub-small1.h
linalg/bwc/matmul-sub-small2.S
linalg/bwc/matmul-sub-small2.h
linalg/bwc/matmul-sub-large-fbi.S
linalg/bwc/matmul-sub-large-fbi.h
linalg/bwc/matmul-sliced.cpp
linalg/bwc/matmul-sliced.h
linalg/bwc/matmul-threaded.c
linalg/bwc/matmul-threaded.h
linalg/bwc/matmul.c
linalg/bwc/matmul.h
linalg/bwc/matmul_top.c
linalg/bwc/matmul_top.h
linalg/bwc/mksol.c
linalg/bwc/mpich2.spec
linalg/bwc/pad.h
linalg/bwc/parallelizing_info.c
linalg/bwc/parallelizing_info.h
linalg/bwc/prep.c
linalg/bwc/random.c
linalg/bwc/rusage.c
linalg/bwc/rusage.h
linalg/bwc/secure.c
linalg/bwc/select_mpi.h
linalg/bwc/shell.c
linalg/bwc/split.c
linalg/bwc/test_hello.c
linalg/bwc/test_pthread_reduce.c
linalg/bwc/tool.sh
linalg/bwc/worker-threads.c
linalg/bwc/worker-threads.h
linalg/bwc/xdotprod.c
linalg/bwc/xdotprod.h
linalg/bwc/xvectors.c
linalg/bwc/xvectors.h
linalg/bwc/xymats.c
linalg/bwc/xymats.h
linalg/characters.c
linalg/gauss.c
linalg/gauss.h
linalg/mkbitstrings.c
linalg/readbuffer.c
linalg/readbuffer.h
linalg/readmat-easy.c
linalg/readmat-easy.h
linalg/readmat.c
linalg/readmat.h
linalg/rowset_heap.cpp
linalg/rowset_heap.h
linalg/transpose.c
local.sh.Macintosh.home
local.sh.example
macros.h
filter/CMakeLists.txt
filter/Makefile
filter/dclist.c
filter/dclist.h
filter/duplicates.c
filter/files.c
filter/files.h
filter/markowitz.c
filter/markowitz.h
filter/merge.c
filter/merge.h
filter/merge_mono.c
filter/merge_mono.h
filter/merge_opts.h
filter/mst.c
filter/mst.h
filter/postprocess.c
filter/purge.c
filter/replay.c
filter/report.c
filter/report.h
filter/sparse.c
filter/sparse.h
filter/sparse_mat.c
filter/sparse_mat.h
filter/swar.c
filter/swar.h
params/params.c59
params/params.c72
params/params.c79
polyselect/CMakeLists.txt
polyselect/Makefile
polyselect/auxiliary.c
polyselect/auxiliary.h
polyselect/polyselect.c
polyselect/rotate.c
run_example.sh
scripts/call_cmake.sh
scripts/version.sh
sieve/CMakeLists.txt
sieve/Makefile
sieve/basicnt.h
sieve/bucket.h
sieve/sieve_config_h.in
sieve/ecm/CMakeLists.txt
sieve/ecm/Makefile
sieve/ecm/addchain.c
sieve/ecm/ecm.c
sieve/ecm/ecm.h
sieve/ecm/ecm_15ul.c
sieve/ecm/ecm_2ul2.c
sieve/ecm/ecm_ul.c
sieve/ecm/facul.c
sieve/ecm/facul.h
sieve/ecm/facul_doit.c
sieve/ecm/facul_doit.h
sieve/ecm/facul_doit_15ul.c
sieve/ecm/facul_doit_2ul2.c
sieve/ecm/facul_doit_ul.c
sieve/ecm/makeplan.c
sieve/ecm/pm1.c
sieve/ecm/pm1.h
sieve/ecm/pm1_15ul.c
sieve/ecm/pm1_2ul2.c
sieve/ecm/pm1_ul.c
sieve/ecm/pp1.c
sieve/ecm/pp1.h
sieve/ecm/pp1_15ul.c
sieve/ecm/pp1_2ul2.c
sieve/ecm/pp1_ul.c
sieve/ecm/prac_bc.c
sieve/ecm/prac_bc.h
sieve/ecm/stage2.c
sieve/ecm/stage2.h
sieve/fb.c
sieve/fb.h
sieve/freerel.c
sieve/las.c
sieve/makefb.c
sieve/trialdiv.c
sieve/trialdiv.h
sieve/test_trialdiv.c
sqrt/CMakeLists.txt
sqrt/Makefile
sqrt/algsqrt.c
sqrt/allsqrt.c
sqrt/checkdep.c
utils/poly.c
utils/poly.h
utils/CMakeLists.txt
utils/Makefile
utils/cado_poly.c
utils/cado_poly.h
utils/check_rels.c
utils/discriminant.c
utils/discriminant.h
utils/electric_alloc.h
utils/fpoly.c
utils/fpoly.h
utils/gcd_int64.c
utils/gcd_int64.h
utils/gcd_uint64.c
utils/gcd_uint64.h
utils/getprime.c
utils/getprime.h
utils/gmp_aux.c
utils/gmp_aux.h
utils/gzip.c
utils/gzip.c
utils/gzip.h
utils/gzip.h
utils/hashpair.c
utils/hashpair.h
utils/misc.c
utils/misc.h
utils/mod_ul.c
utils/mod_ul.h
utils/mod_ul_common.c
utils/mod_ul_default.h
utils/mod_rename.h
utils/modredc_15ul.c
utils/modredc_15ul.h
utils/modredc_15ul_default.h
utils/modredc_2ul2.c
utils/modredc_2ul2.h
utils/modredc_2ul2_default.h
utils/modredc_2ul_common.c
utils/modredc_ul.c
utils/modredc_ul.h
utils/modredc_ul_default.h
utils/modul_poly.c
utils/modul_poly.h
utils/mpz_array.c
utils/mpz_array.h
utils/mpz_poly.c
utils/mpz_poly.h
utils/params.c
utils/params.h
utils/plain_poly.c
utils/plain_poly.h
utils/random_generation.c
utils/random_generation.h
utils/relation.c
utils/relation.h
utils/rootfinder.c
utils/rootfinder.h
utils/test-rootfinder-script.sh
utils/test-rootfinder.c
utils/test_mod.c
utils/test_mod_ul.c
utils/test_modredc_15ul.c
utils/test_modredc_2ul2.c
utils/test_modredc_ul.c
utils/testbase-rootfinder.quick
utils/timing.c
utils/timing.h
utils/ularith.h
utils/utils.h
utils/crc.h
utils/crc.c
cado_config_h.in
config/asm_sample.c
config/sse2.c
config/search_for_function.cmake
scripts/fixup_params_file.sh.in
linalg/bwc/matmul-sub-large-fbd.S
linalg/bwc/matmul-sub-large-fbd.h
gf2x-fft/Makefile
gf2x-fft/gf2x-fft.h
gf2x-fft/gf2x_fft_check.c
